In [1]:
# Import modules
import sys

In [2]:
# Import custom modules
sys.path.append('../')

from src.models.upload_data import *

In [3]:
# Set notebook attributes
pd.set_option('display.max_colwidth', 500)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 300)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [4]:
# Set magic attributes
%matplotlib inline
%load_ext autoreload
%autoreload 2

In [5]:
# Configuration
args = argparse.ArgumentParser()
args.add_argument("--config", default="../params.yaml")
parsed_args = vars(args.parse_args(""))
config_path = parsed_args['config']

### Till Amount Aggregate

In [6]:
%%time
# Data ingestion, cleaning/wrangling
df_meta_amount_raw = pull_data(config_path, metabase_amount_sql(), 'DWH', 'metabase_amount', False, 'raw')

Currently loading metabase_amount data set ...
Time taken is 0 seconds ...

        store_number transaction_time  trx_val
2559582      7285635       2023-05-17  3520.00
412123        512888       2023-05-07 83557.96

---------------------------------------------------------------------------------------------------------------------------------------
CPU times: user 844 ms, sys: 284 ms, total: 1.13 s
Wall time: 910 ms

In [7]:
%%time
# Data ingestion, cleaning/wrangling
df_meta_amount_clean = clean_dataset(config_path, 'metabase_amount')

Currently cleaning metabase_amount data set ...

      store_number  approx_30_days_trx_val
9456       5081275                80550.00
33097      6274460                    0.00

---------------------------------------------------------------------------------------------------------------------------------------
CPU times: user 22.4 s, sys: 2.57 s, total: 25 s
Wall time: 24.7 s

In [8]:
# Final dataset schema
df_meta_amount_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 149695 entries, 0 to 149697
Data columns (total 2 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   store_number            149695 non-null  object
 1   approx_30_days_trx_val  149695 non-null  float64
dtypes: float64(1), object(1)
memory usage: 3.4+ MB