In [1]:
# Import modules
import sys

In [2]:
# Import custom modules
sys.path.append('../')

from src.models.upload_data import *

In [3]:
# Set notebook attributes
pd.set_option('display.max_colwidth', 500)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 300)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [4]:
# Set magic attributes
%matplotlib inline
%load_ext autoreload
%autoreload 2

In [5]:
# Configuration
args = argparse.ArgumentParser()
args.add_argument("--config", default="../params.yaml")
parsed_args = vars(args.parse_args(""))
config_path = parsed_args['config']

### Scoring Results 21 Limits

In [6]:
%%time
# Data ingestion, cleaning/wrangling
df_sr_21_limits_raw = pull_data(config_path, sr_21_limits_sql(), 'DWH', 'sr_21_limits', False, 'raw')

Currently loading sr_21_limits data set ...
Time taken is 0 seconds ...

,store_number,total_final_21_limit,total_final_7_limit,total_final_1_limit,final_21_limit_non_zero,final_7_limit_non_zero,final_1_limit_non_zero
165765,7133054,0.00,0.00,0.00,NaN,NaN,NaN
14332,841771,0.00,0.00,0.00,NaN,NaN,NaN

---------------------------------------------------------------------------------------------------------------------------------------
CPU times: user 181 ms, sys: 83.1 ms, total: 264 ms
Wall time: 222 ms

In [7]:
%%time
# Data ingestion, cleaning/wrangling
df_sr_21_limits_clean = clean_dataset(config_path, 'sr_21_limits')

Currently cleaning sr_21_limits data set ...

,store_number,total_final_21_limit,total_final_1_limit,total_final_7_limit,final_21_limit_non_zero,final_7_limit_non_zero,final_1_limit_non_zero
122372,588316,0.00,400.00,0.00,0.00,0.00,0.00
93205,7252017,0.00,94200.00,93300.00,0.00,0.00,0.00

---------------------------------------------------------------------------------------------------------------------------------------
CPU times: user 550 ms, sys: 75.9 ms, total: 626 ms
Wall time: 599 ms

In [8]:
# Final dataset schema
df_sr_21_limits_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 194552 entries, 0 to 194557
Data columns (total 7 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   store_number             194552 non-null  object
 1   total_final_21_limit     194552 non-null  float64
 2   total_final_1_limit      194552 non-null  float64
 3   total_final_7_limit      194552 non-null  float64
 4   final_21_limit_non_zero  194552 non-null  float64
 5   final_7_limit_non_zero   194552 non-null  float64
 6   final_1_limit_non_zero   194552 non-null  float64
dtypes: float64(6), object(1)
memory usage: 11.9+ MB