In [1]:
# Import modules
import sys

In [2]:
# Import custom modules
sys.path.append('../')

from src.models.upload_data import *

In [3]:
# Set notebook attributes
pd.set_option('display.max_colwidth', 500)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 300)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [4]:
# Set magic attributes
%matplotlib inline
%load_ext autoreload
%autoreload 2

In [5]:
# Configuration
args = argparse.ArgumentParser()
args.add_argument("--config", default="../params.yaml")
parsed_args = vars(args.parse_args(""))
config_path = parsed_args['config']

### Scoring Results Latest Refresh Limits

In [6]:
%%time
# Data ingestion, cleaning/wrangling
df_sr_latest_refresh_limits_raw = pull_data(config_path, sr_latest_refresh_limits_sql(), 'DWH', 'sr_latest_refresh_limits', True, 'raw')

Currently pulling sr_latest_refresh_limits data set ...
Connection successful
Time taken is 7 seconds ...

,store_number,previous_21_limit,previous_7_limit,previous_1_limit,model_630_21_limit,model_630_7_limit,model_630_1_limit,previous_3m_model_version,previous_3m_21_limit,previous_3m_7_limit,previous_3m_1_limit
174655,4002023,0.00,0.00,0.00,NaN,NaN,NaN,"2023-010[2023-03-30, 2023-04-05]",0.00,0.00,0.00
52519,7404900,0.00,0.00,0.00,NaN,NaN,NaN,"2023-010[2023-03-30, 2023-04-05]",0.00,0.00,0.00

---------------------------------------------------------------------------------------------------------------------------------------
CPU times: user 2.5 s, sys: 237 ms, total: 2.74 s
Wall time: 7.92 s

In [7]:
%%time
# Data ingestion, cleaning/wrangling
df_sr_latest_refresh_limits_clean = clean_dataset(config_path, 'sr_latest_refresh_limits')

Currently cleaning sr_latest_refresh_limits data set ...

,store_number,previous_21_limit,previous_7_limit,previous_1_limit,model_630_21_limit,model_630_7_limit,model_630_1_limit,previous_3m_21_limit,previous_3m_7_limit,previous_3m_1_limit
121441,6111448,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
103459,534827,0.00,0.00,0.00,0.00,37500.00,37500.00,0.00,0.00,0.00

---------------------------------------------------------------------------------------------------------------------------------------
CPU times: user 524 ms, sys: 124 ms, total: 648 ms
Wall time: 541 ms

In [8]:
# Final dataset schema
df_sr_latest_refresh_limits_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 194401 entries, 0 to 194406
Data columns (total 10 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   store_number          194401 non-null  object
 1   previous_21_limit     194401 non-null  float64
 2   previous_7_limit      194401 non-null  float64
 3   previous_1_limit      194401 non-null  float64
 4   model_630_21_limit    194401 non-null  float64
 5   model_630_7_limit     194401 non-null  float64
 6   model_630_1_limit     194401 non-null  float64
 7   previous_3m_21_limit  194401 non-null  float64
 8   previous_3m_7_limit   194401 non-null  float64
 9   previous_3m_1_limit   194401 non-null  float64
dtypes: float64(9), object(1)
memory usage: 16.3+ MB