In [1]:
# Import modules
import sys

In [2]:
# Import custom modules
sys.path.append('../')

from src.models.upload_data import *

In [3]:
# Set notebook attributes
pd.set_option('display.max_colwidth', 500)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 300)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [4]:
# Set magic attributes
%matplotlib inline
%load_ext autoreload
%autoreload 2

In [5]:
# Configuration
args = argparse.ArgumentParser()
args.add_argument("--config", default="../params.yaml")
parsed_args = vars(args.parse_args(""))
config_path = parsed_args['config']

### Repayment Milestones

In [6]:
%%time
# Data ingestion, cleaning/wrangling
df_rmv_raw = pull_data(config_path, rmv_sql(), 'DWH', 'rmv', False, 'raw')

Currently loading rmv data set ...

,loan_mifos_id,repayment_amount_by_due_date,repayment_amount_by_rllvr_date,repayment_amount_by_dpd90
165119,36619,4104.00,4104.00,4104.00
236862,12234,51632.50,51632.50,51632.50

---------------------------------------------------------------------------------------------------------------------------------------
CPU times: total: 172 ms
Wall time: 374 ms

In [7]:
%%time
# Data ingestion, cleaning/wrangling
df_rmv_clean = clean_dataset(config_path, 'rmv')

Currently cleaning rmv data set ...

,loan_mifos_id,repayment_amount_by_due_date,repayment_amount_by_rllvr_date,repayment_amount_by_dpd90
163648,239219,3506.08,3506.08,3506.08
154013,110311,1436.40,1436.40,1436.40

---------------------------------------------------------------------------------------------------------------------------------------
CPU times: total: 453 ms
Wall time: 852 ms

In [8]:
# Final dataset schema
df_rmv_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239794 entries, 0 to 239793
Data columns (total 4 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   loan_mifos_id                   239794 non-null  object
 1   repayment_amount_by_due_date    187866 non-null  float64
 2   repayment_amount_by_rllvr_date  208683 non-null  float64
 3   repayment_amount_by_dpd90       226247 non-null  float64
dtypes: float64(3), object(1)
memory usage: 7.3+ MB