In [1]:
# Import modules
import sys

In [2]:
# Import custom modules
sys.path.append('../')

from src.models.upload_data import *

In [3]:
# Set notebook attributes
pd.set_option('display.max_colwidth', 500)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 300)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [4]:
# Set magic attributes
%matplotlib inline
%load_ext autoreload
%autoreload 2

In [5]:
# Configuration
args = argparse.ArgumentParser()
args.add_argument("--config", default="../params.yaml")
parsed_args = vars(args.parse_args(""))
config_path = parsed_args['config']

### Approved Limits Upload To SR

In [6]:
%%time
# Approved limits upload
df_upload_sr = push_data(config_path, "DWH", "sr", execution_date, refresh_date, record_added_to_warehouse_on_timestamp, created_at)

Connection successful
The dataframe is NOT inserted to BLOOMLIVE.scoring_results because push_limits flag = False
Currently pulling sr_validate_push data set ...
Connection successful

,latest_model_version,num_of_customers_who_have_been_scored,gross_limit_allocation_for_21_day,gross_limit_allocation_for_7_day,gross_limit_allocation_for_1_day
0,"2022-007[2022-10-21, 2022-11-29]",147424,121835300.00,320249600.00,155409900.00

---------------------------------------------------------------------------------------------------------------------------------------

,store_number,national_id,final_21_limit,final_7_limit,final_1_limit,idm_recommendation,limit_factor_21,limit_factor_7,limit_factor_1,model_version,blacklist_flag,created_at,record_added_to_warehouse_on_timestamp,limit_reason
91097,7636937,26953416,0,0,0,Reject,0.35,0.12,0.12,"2022-007[2022-10-21, 2022-11-29]",0.00,2022-11-29 11:32:15,2022-11-29 11:32:15:419636,I1
79844,7317875,1836628,0,0,0,Approve,0.50,0.17,0.17,"2022-007[2022-10-21, 2022-11-29]",0.00,2022-11-29 11:32:15,2022-11-29 11:32:15:419636,I1

---------------------------------------------------------------------------------------------------------------------------------------
CPU times: total: 22.8 s
Wall time: 46.6 s

In [7]:
# Final dataset schema
df_upload_sr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147351 entries, 0 to 147350
Data columns (total 14 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   store_number                            147351 non-null  object
 1   national_id                             147351 non-null  object
 2   final_21_limit                          147351 non-null  int64
 3   final_7_limit                           147351 non-null  int64
 4   final_1_limit                           147351 non-null  int64
 5   idm_recommendation                      115150 non-null  object
 6   limit_factor_21                         115150 non-null  float64
 7   limit_factor_7                          115150 non-null  float64
 8   limit_factor_1                          115150 non-null  float64
 9   model_version                           147351 non-null  object
 10  blacklist_flag                          147351 non-null  float64
 11  created_at                              147351 non-null  object
 12  record_added_to_warehouse_on_timestamp  147351 non-null  object
 13  limit_reason                            147345 non-null  object
dtypes: float64(4), int64(3), object(7)
memory usage: 15.7+ MB

In [8]:
# Limits
df_upload_sr[['final_21_limit', 'final_7_limit', 'final_1_limit']].sum()

final_21_limit    117347600
final_7_limit     314401000
final_1_limit     150133800
dtype: int64