In [1]:
# Import modules
import sys

In [2]:
# Import custom modules
sys.path.append('../')

from src.models.upload_data import *

In [3]:
# Set notebook attributes
pd.set_option('display.max_colwidth', 500)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 300)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [4]:
# Set magic attributes
%matplotlib inline
%load_ext autoreload
%autoreload 2

In [5]:
# Configuration
args = argparse.ArgumentParser()
args.add_argument("--config", default="../params.yaml")
parsed_args = vars(args.parse_args(""))
config_path = parsed_args['config']

### First Time Defaults

In [6]:
%%time
# Data ingestion, cleaning/wrangling
# convert_to_parquet(config_path, 'ftd', 'excel')
df_ftd_raw = pull_data(config_path, ftd_sql(), 'DWH', 'ftd', False, 'raw')

Currently loading ftd data set ...
Time taken is 0 seconds ...

,store_number,update_flag,reinstatement_reason
7,7057400,1,first time defaulters during election risk mitigation measures
23,7057400,1,first time defaulters during election risk mitigation measures

---------------------------------------------------------------------------------------------------------------------------------------
CPU times: total: 15.6 ms
Wall time: 85.7 ms

In [7]:
%%time
# Data ingestion, cleaning/wrangling
df_ftd_clean = clean_dataset(config_path, 'ftd')

Currently cleaning ftd data set ...

,store_number,update_flag,reinstatement_reason
19,7088854,1,first time defaulters during election risk mitigation measures

---------------------------------------------------------------------------------------------------------------------------------------
CPU times: total: 15.6 ms
Wall time: 34.8 ms

In [8]:
# Final dataset schema
df_ftd_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39 entries, 0 to 42
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   store_number          39 non-null     object
 1   update_flag           39 non-null     int64
 2   reinstatement_reason  39 non-null     object
dtypes: int64(1), object(2)
memory usage: 1.2+ KB